<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search city"
      name="city"
      [(ngModel)]="cityName"
    />

    <!-- <button class="btn btn-primary">
      <fa-icon
        [icon]="faMagnifyingGlass"
        [styles]="{ color: '#ffcccc' }"
      ></fa-icon>
    </button> -->
  </form>
</div>
<div class="container">
  <div class="upper-data">
    <img src="../../../assets/cold.jpg" *ngIf="temp <= 15" />
    <img src="../../../assets/mid-temp.jpg" *ngIf="temp > 15 && temp < 25" />
    <img src="../../../assets/hot.jpg" *ngIf="temp >= 25" />

    <div class="weather-data">
      <div class="location">{{ weatherData?.location?.city }}</div>
      <div class="location-country">{{ weatherData?.location?.country }}</div>
      <div class="temperature">
        {{
          weatherData?.current_observation?.condition?.temperature
            | number: "1.0-0"
        }}
        <sup>°c</sup>
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="../../../assets/sunrise.png" alt="" /> -->
          <fa-icon
            class="fa-styles"
            [icon]="faSun"
            [styles]="{ color: '#FCE570' }"
          ></fa-icon>
          <!-- <span>Sunrise</span> -->
        </div>
        <div class="info-block-value">
          {{ weatherData?.current_observation?.astronomy?.sunrise }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="../../../assets/sunset.png" alt="" /> -->
          <fa-icon
            class="fa-styles"
            [icon]="faMoon"
            [styles]="{ color: '#F7EAC6' }"
          ></fa-icon>
          <!-- <span>Sunset</span> -->
        </div>
        <div class="info-block-value">
          {{ weatherData?.current_observation?.astronomy?.sunset }}
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="../../../assets/humidity.jpg" alt="" /> -->
          <fa-icon
            class="fa-styles"
            [icon]="faDroplet"
            [styles]="{ color: '#d4f1f9' }"
          ></fa-icon>
          <!-- <span>Humidity</span> -->
        </div>
        <div class="info-block-value">
          {{ weatherData?.current_observation?.atmosphere?.humidity }}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="../../../assets/wind.png" alt="" /> -->
          <fa-icon
            class="fa-styles"
            [icon]="faWind"
            [styles]="{ color: '#ffcccc' }"
          ></fa-icon>

          <!-- <span>Wind</span> -->
        </div>
        <div class="info-block-value">
          {{ weatherData?.current_observation?.wind?.speed }} km/h
        </div>
      </div>
    </div>
  </div>
  <div class="social">
    <a href="https://www.linkedin.com/in/musabahallah/" target="_blank">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
  </div>
</div>
