<div class="search">
  <form #form="ngForm" (submit)="onSubmit()">
    <input
      type="text"
      placeholder="Search city"
      name="city"
      [(ngModel)]="cityName"
    />
  </form>
</div>
<div class="container">
  <div class="upper-data">
    <img src="../../../assets/cold.jpg" *ngIf="temp <= 15" />
    <img src="../../../assets/mid-temp.jpg" *ngIf="temp > 15 && temp < 30" />
    <img src="../../../assets/hot.jpg" *ngIf="temp >= 30" />

    <div class="weather-data">
      <div class="location">
        {{ name.length > 14 ? (name | slice: 0:14) + "..." : name }}
      </div>
      <div class="location-country">
        {{ openWeatherData?.sys?.country }}
      </div>
      <div class="temperature">
        {{ openWeatherData?.main?.temp | number: "1.0-0" }}
        <sup>°c</sup>
      </div>
    </div>
  </div>

  <div class="lower-data">
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <fa-icon
            class="fa-styles"
            [icon]="faTemperatureLow"
            [styles]="{ color: '#F7EAC6' }"
          ></fa-icon>
        </div>
        <div class="info-block-value">
          {{ openWeatherData?.main?.temp_min | number: "1.0-0" }} <sup>°c</sup>
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="../../../assets/sunset.png" alt="" /> -->
          <fa-icon
            class="fa-styles"
            [icon]="faTemperatureHigh"
            [styles]="{ color: '#F7EAC6' }"
          ></fa-icon>
        </div>
        <div class="info-block-value">
          {{ openWeatherData?.main?.temp_max | number: "1.0-0" }} <sup>°c</sup>
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="../../../assets/humidity.jpg" alt="" /> -->
          <fa-icon
            class="fa-styles"
            [icon]="faDroplet"
            [styles]="{ color: '#d4f1f9' }"
          ></fa-icon>
        </div>
        <div class="info-block-value">
          {{ openWeatherData?.main?.humidity }}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <!-- <img src="../../../assets/wind.png" alt="" /> -->
          <fa-icon
            class="fa-styles"
            [icon]="faWind"
            [styles]="{ color: '#ffcccc' }"
          ></fa-icon>
        </div>
        <div class="info-block-value">
          {{ openWeatherData?.wind?.speed }} km/h
        </div>
      </div>
    </div>
  </div>
  <div class="social">
    <a href="https://www.linkedin.com/in/musabahallah/" target="_blank">
      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
    </a>
  </div>
</div>
