/* main search input styles */

.search {
  margin-bottom: 1em;
  text-align: center;
}

.search input {
  background-color: var(--shadow-light);
  outline: none;
  border: none;
  border-radius: 20px;
  padding: 1em;
  color: white;
  font-size: 1em;
  text-align: center;
}
.search button {
  margin-left: 5px;
  border-radius: 15px;
  font-size: 25px;
}

/* main container styles */

.container {
  width: 400px;
  height: 80vh;
  background-color: var(--blue-2);
  border-radius: 20px;
  box-shadow: 10px 10px 10px var(--shadow-dark);
}

/* upper container styles */

.upper-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  top: 15px;
}

.upper-data img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.weather-data {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-dark);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location {
  color: var(--white);
  text-align: center;
  font-size: 2em;
}

.location-country {
  color: var(--white);
  text-align: center;
  font-size: 1em;
  font-weight: 750;
}

.temperature {
  color: var(--white);
  margin-top: 10px;
  font-size: 3.5em;
  text-align: center;
  font-weight: 900;
}

/* lower container styles */

.lower-data {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  /* padding: 1em; */
  padding: 1em 0;
  display: flex;
  flex-direction: column;
}

.more-info-container {
  flex: 1;
  background-color: var(--shadow-light);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-top: 1em;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.info-block {
  width: 50%;
  display: flex;
  flex-direction: row;
}

.info-block-label {
  width: 43%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .info-block-label img {
  width: 1.7em;
  margin-bottom: 5px;
} */

.fa-styles {
  font-size: 2em;
}

/* .info-block-label span {
  color: var(--white);
  font-size: 0.8em;
} */

.info-block-value {
  width: 45%;
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  color: var(--white);
}

/*Media Queries*/
@media (max-width: 767px) {
  .container {
    width: 282px;
    height: 65vh;
  }

  .more-info-container {
    width: 100%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .container {
    width: 500px;
    height: 80vh;
    padding: 30px;
  }
  .more-info-container {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 500px;
    height: 80vh;
    padding: 30px;
  }

  .more-info-container {
    width: 100%;
  }
  .info-block {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
}
